<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>code</key>
			<string>00355</string>
			<key>name</key>
			<string>阿尔巴尼亚</string>
			<key>pinyin</key>
			<string>AErBaNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00213</string>
			<key>name</key>
			<string>阿尔及利亚</string>
			<key>pinyin</key>
			<string>AErJiLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0093</string>
			<key>name</key>
			<string>阿富汗</string>
			<key>pinyin</key>
			<string>AFuHan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0054</string>
			<key>name</key>
			<string>阿根廷</string>
			<key>pinyin</key>
			<string>AGenTing</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00353</string>
			<key>name</key>
			<string>爱尔兰</string>
			<key>pinyin</key>
			<string>AiErLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0020</string>
			<key>name</key>
			<string>埃及</string>
			<key>pinyin</key>
			<string>AiJi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00251</string>
			<key>name</key>
			<string>埃塞俄比亚</string>
			<key>pinyin</key>
			<string>AiSaiEBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00372</string>
			<key>name</key>
			<string>爱沙尼亚</string>
			<key>pinyin</key>
			<string>AiShaNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001907</string>
			<key>name</key>
			<string>阿拉斯加</string>
			<key>pinyin</key>
			<string>ALaSiJia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00971</string>
			<key>name</key>
			<string>阿联酋</string>
			<key>pinyin</key>
			<string>ALianQiu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00297</string>
			<key>name</key>
			<string>阿鲁巴岛</string>
			<key>pinyin</key>
			<string>ALuBaDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00968</string>
			<key>name</key>
			<string>阿曼</string>
			<key>pinyin</key>
			<string>AMan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00376</string>
			<key>name</key>
			<string>安道尔</string>
			<key>pinyin</key>
			<string>AnDaoEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00244</string>
			<key>name</key>
			<string>安哥拉</string>
			<key>pinyin</key>
			<string>AnGeLa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001264</string>
			<key>name</key>
			<string>安圭拉岛</string>
			<key>pinyin</key>
			<string>AnGuiLaDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001268</string>
			<key>name</key>
			<string>安提瓜和巴布达</string>
			<key>pinyin</key>
			<string>AnTiGuaHeBaBuDa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>name</key>
			<string>澳大利亚</string>
			<key>pinyin</key>
			<string>AoDaLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0043</string>
			<key>name</key>
			<string>奥地利</string>
			<key>pinyin</key>
			<string>AoDiLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00853</string>
			<key>name</key>
			<string>澳门</string>
			<key>pinyin</key>
			<string>AoMen</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00994</string>
			<key>name</key>
			<string>阿塞拜疆</string>
			<key>pinyin</key>
			<string>ASaiBaiJiang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00247</string>
			<key>name</key>
			<string>阿森松</string>
			<key>pinyin</key>
			<string>ASenSong</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001246</string>
			<key>name</key>
			<string>巴巴多斯</string>
			<key>pinyin</key>
			<string>BaBaDuoSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00675</string>
			<key>name</key>
			<string>巴布亚新几内亚</string>
			<key>pinyin</key>
			<string>BaBuYaXinJiNaYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001242</string>
			<key>name</key>
			<string>巴哈马</string>
			<key>pinyin</key>
			<string>BaHaMa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00375</string>
			<key>name</key>
			<string>白俄罗斯共和国</string>
			<key>pinyin</key>
			<string>BaiELuoSiGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001441</string>
			<key>name</key>
			<string>百慕大群岛</string>
			<key>pinyin</key>
			<string>BaiMuDaQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0092</string>
			<key>name</key>
			<string>巴基斯坦</string>
			<key>pinyin</key>
			<string>BaJiSiTan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00595</string>
			<key>name</key>
			<string>巴拉圭</string>
			<key>pinyin</key>
			<string>BaLaGui</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00970</string>
			<key>name</key>
			<string>巴勒斯坦</string>
			<key>pinyin</key>
			<string>BaLeSiTan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00973</string>
			<key>name</key>
			<string>巴林</string>
			<key>pinyin</key>
			<string>BaLin</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00507</string>
			<key>name</key>
			<string>巴拿马</string>
			<key>pinyin</key>
			<string>BaNaMa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00359</string>
			<key>name</key>
			<string>保加利亚</string>
			<key>pinyin</key>
			<string>BaoJiaLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0055</string>
			<key>name</key>
			<string>巴西</string>
			<key>pinyin</key>
			<string>BaXi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00229</string>
			<key>name</key>
			<string>贝宁</string>
			<key>pinyin</key>
			<string>BeiNing</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0032</string>
			<key>name</key>
			<string>比利时</string>
			<key>pinyin</key>
			<string>BiLiShi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00354</string>
			<key>name</key>
			<string>冰岛</string>
			<key>pinyin</key>
			<string>BingDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00267</string>
			<key>name</key>
			<string>博茨瓦纳</string>
			<key>pinyin</key>
			<string>BoCiWaNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001787</string>
			<key>name</key>
			<string>波多黎哥</string>
			<key>pinyin</key>
			<string>BoDuoLiGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001787</string>
			<key>name</key>
			<string>波多黎哥</string>
			<key>pinyin</key>
			<string>BoDuoLiGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0048</string>
			<key>name</key>
			<string>波兰</string>
			<key>pinyin</key>
			<string>BoLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00591</string>
			<key>name</key>
			<string>玻利维亚</string>
			<key>pinyin</key>
			<string>BoLiWeiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00501</string>
			<key>name</key>
			<string>伯利兹</string>
			<key>pinyin</key>
			<string>BoLiZi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00387</string>
			<key>name</key>
			<string>波斯尼亚和塞哥维那</string>
			<key>pinyin</key>
			<string>BoSiNiYaHeSaiGeWeiNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00975</string>
			<key>name</key>
			<string>不丹</string>
			<key>pinyin</key>
			<string>BuDan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00226</string>
			<key>name</key>
			<string>布基拉法索</string>
			<key>pinyin</key>
			<string>BuJiLaFaSuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00257</string>
			<key>name</key>
			<string>布隆迪</string>
			<key>pinyin</key>
			<string>BuLongDi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00850</string>
			<key>name</key>
			<string>朝鲜</string>
			<key>pinyin</key>
			<string>ChaoXian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00240</string>
			<key>name</key>
			<string>赤道几内亚</string>
			<key>pinyin</key>
			<string>ChiDaoJiNaYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0045</string>
			<key>name</key>
			<string>丹麦</string>
			<key>pinyin</key>
			<string>DanMai</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0049</string>
			<key>name</key>
			<string>德国</string>
			<key>pinyin</key>
			<string>DeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00246</string>
			<key>name</key>
			<string>迪戈加西亚</string>
			<key>pinyin</key>
			<string>DiGeJiaXiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00684</string>
			<key>name</key>
			<string>东萨摩亚</string>
			<key>pinyin</key>
			<string>DongSaMoYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00228</string>
			<key>name</key>
			<string>多哥</string>
			<key>pinyin</key>
			<string>DuoGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001809</string>
			<key>name</key>
			<string>多米尼加共和国</string>
			<key>pinyin</key>
			<string>DuoMiNiJiaGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001767</string>
			<key>name</key>
			<string>多米尼加联邦</string>
			<key>pinyin</key>
			<string>DuoMiNiJiaLianBang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00593</string>
			<key>name</key>
			<string>厄瓜多尔</string>
			<key>pinyin</key>
			<string>EGuaDuoEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00291</string>
			<key>name</key>
			<string>厄里特里亚</string>
			<key>pinyin</key>
			<string>ELiTeLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>name</key>
			<string>俄罗斯联邦</string>
			<key>pinyin</key>
			<string>ELuoSiLianBang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0033</string>
			<key>name</key>
			<string>法国</string>
			<key>pinyin</key>
			<string>FaGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00298</string>
			<key>name</key>
			<string>法罗群岛</string>
			<key>pinyin</key>
			<string>FaLuoQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>003906698</string>
			<key>name</key>
			<string>梵蒂冈</string>
			<key>pinyin</key>
			<string>FanDiGang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00689</string>
			<key>name</key>
			<string>法属波里尼西亚、塔希提</string>
			<key>pinyin</key>
			<string>FaShuBoLiNiXiYaTaXiTi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00594</string>
			<key>name</key>
			<string>法属圭亚那</string>
			<key>pinyin</key>
			<string>FaShuGuiYaNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00679</string>
			<key>name</key>
			<string>斐济</string>
			<key>pinyin</key>
			<string>FeiJi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0063</string>
			<key>name</key>
			<string>菲律宾</string>
			<key>pinyin</key>
			<string>FeiLvBin</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00358</string>
			<key>name</key>
			<string>芬兰</string>
			<key>pinyin</key>
			<string>FenLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00238</string>
			<key>name</key>
			<string>佛得角</string>
			<key>pinyin</key>
			<string>FuDeJiao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00500</string>
			<key>name</key>
			<string>福克兰群岛</string>
			<key>pinyin</key>
			<string>FuKeLanQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00220</string>
			<key>name</key>
			<string>冈比亚</string>
			<key>pinyin</key>
			<string>GangBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00242</string>
			<key>name</key>
			<string>刚果</string>
			<key>pinyin</key>
			<string>GangGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00299</string>
			<key>name</key>
			<string>格陵兰岛</string>
			<key>pinyin</key>
			<string>GeLingLanDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001473</string>
			<key>name</key>
			<string>格林纳达</string>
			<key>pinyin</key>
			<string>GeLinNaDa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00995</string>
			<key>name</key>
			<string>格鲁吉亚共和国</string>
			<key>pinyin</key>
			<string>GeLuJiYaGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0057</string>
			<key>name</key>
			<string>哥伦比亚</string>
			<key>pinyin</key>
			<string>GeLunBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00506</string>
			<key>name</key>
			<string>哥斯达黎加</string>
			<key>pinyin</key>
			<string>GeSiDaLiJia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00590</string>
			<key>name</key>
			<string>瓜多罗普</string>
			<key>pinyin</key>
			<string>GuaDuoLuoPu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001671</string>
			<key>name</key>
			<string>关岛</string>
			<key>pinyin</key>
			<string>GuanDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0053</string>
			<key>name</key>
			<string>古巴</string>
			<key>pinyin</key>
			<string>GuBa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00592</string>
			<key>name</key>
			<string>圭亚那</string>
			<key>pinyin</key>
			<string>GuiYaNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00509</string>
			<key>name</key>
			<string>海地</string>
			<key>pinyin</key>
			<string>HaiDi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0082</string>
			<key>name</key>
			<string>韩国</string>
			<key>pinyin</key>
			<string>HanGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>name</key>
			<string>哈萨克斯坦共和国</string>
			<key>pinyin</key>
			<string>HaSaKeSiTanGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0031</string>
			<key>name</key>
			<string>荷兰</string>
			<key>pinyin</key>
			<string>HeLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00599</string>
			<key>name</key>
			<string>荷属安的列斯群岛</string>
			<key>pinyin</key>
			<string>HeShuAnDeLieSiQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00504</string>
			<key>name</key>
			<string>洪都拉斯</string>
			<key>pinyin</key>
			<string>HongDuLaSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00233</string>
			<key>name</key>
			<string>加纳</string>
			<key>pinyin</key>
			<string>JiaNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>name</key>
			<string>加拿大</string>
			<key>pinyin</key>
			<string>JiaNaDa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>003428</string>
			<key>name</key>
			<string>加那利群岛(西)(拉斯帕尔马斯)</string>
			<key>pinyin</key>
			<string>JiaNaLiQunDaoXiLaSiPaErMaSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>003422</string>
			<key>name</key>
			<string>加那利群岛(西)(圣克鲁斯)</string>
			<key>pinyin</key>
			<string>JiaNaLiQunDaoXiShengKeLuSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00855</string>
			<key>name</key>
			<string>柬埔寨</string>
			<key>pinyin</key>
			<string>JianPuZhai</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00241</string>
			<key>name</key>
			<string>加蓬</string>
			<key>pinyin</key>
			<string>JiaPeng</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00253</string>
			<key>name</key>
			<string>吉布提</string>
			<key>pinyin</key>
			<string>JiBuTi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00420</string>
			<key>name</key>
			<string>捷克</string>
			<key>pinyin</key>
			<string>JieKe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00996</string>
			<key>name</key>
			<string>吉尔吉斯坦共和国</string>
			<key>pinyin</key>
			<string>JiErJiSiTanGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00686</string>
			<key>name</key>
			<string>基里巴斯</string>
			<key>pinyin</key>
			<string>JiLiBaSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00224</string>
			<key>name</key>
			<string>几内亚</string>
			<key>pinyin</key>
			<string>JiNaYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00245</string>
			<key>name</key>
			<string>几内亚比绍</string>
			<key>pinyin</key>
			<string>JiNaYaBiShao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00263</string>
			<key>name</key>
			<string>津巴布韦</string>
			<key>pinyin</key>
			<string>JinBaBuWei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001345</string>
			<key>name</key>
			<string>开曼群岛</string>
			<key>pinyin</key>
			<string>KaiManQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00237</string>
			<key>name</key>
			<string>喀麦隆</string>
			<key>pinyin</key>
			<string>KaMaiLong</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00974</string>
			<key>name</key>
			<string>卡塔尔</string>
			<key>pinyin</key>
			<string>KaTaEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00682</string>
			<key>name</key>
			<string>科克群岛</string>
			<key>pinyin</key>
			<string>KeKeQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00619162</string>
			<key>name</key>
			<string>科科斯岛</string>
			<key>pinyin</key>
			<string>KeKeSiDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00385</string>
			<key>name</key>
			<string>科罗地亚</string>
			<key>pinyin</key>
			<string>KeLuoDiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00269</string>
			<key>name</key>
			<string>科摩罗</string>
			<key>pinyin</key>
			<string>KeMoLuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00254</string>
			<key>name</key>
			<string>肯尼亚</string>
			<key>pinyin</key>
			<string>KenNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00225</string>
			<key>name</key>
			<string>科特迪瓦</string>
			<key>pinyin</key>
			<string>KeTeDiWa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00965</string>
			<key>name</key>
			<string>科威特</string>
			<key>pinyin</key>
			<string>KeWeiTe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00266</string>
			<key>name</key>
			<string>莱索托</string>
			<key>pinyin</key>
			<string>LaiSuoTuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00856</string>
			<key>name</key>
			<string>老挝</string>
			<key>pinyin</key>
			<string>LaoWo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00371</string>
			<key>name</key>
			<string>拉脱维亚</string>
			<key>pinyin</key>
			<string>LaTuoWeiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00961</string>
			<key>name</key>
			<string>黎巴嫩</string>
			<key>pinyin</key>
			<string>LiBaNen</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00231</string>
			<key>name</key>
			<string>利比里亚</string>
			<key>pinyin</key>
			<string>LiBiLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00218</string>
			<key>name</key>
			<string>利比亚</string>
			<key>pinyin</key>
			<string>LiBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00423</string>
			<key>name</key>
			<string>列支敦士登</string>
			<key>pinyin</key>
			<string>LieZhiDunShiDeng</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00370</string>
			<key>name</key>
			<string>立陶宛</string>
			<key>pinyin</key>
			<string>LiTaoWan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00262</string>
			<key>name</key>
			<string>留尼旺岛</string>
			<key>pinyin</key>
			<string>LiuNiWangDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0040</string>
			<key>name</key>
			<string>罗马尼亚</string>
			<key>pinyin</key>
			<string>LuoMaNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00352</string>
			<key>name</key>
			<string>卢森堡</string>
			<key>pinyin</key>
			<string>LuSenBao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00250</string>
			<key>name</key>
			<string>卢旺达</string>
			<key>pinyin</key>
			<string>LuWangDa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00261</string>
			<key>name</key>
			<string>马达加斯加</string>
			<key>pinyin</key>
			<string>MaDaJiaSiJia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00960</string>
			<key>name</key>
			<string>马尔代夫</string>
			<key>pinyin</key>
			<string>MaErDaiFu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00356</string>
			<key>name</key>
			<string>马耳他</string>
			<key>pinyin</key>
			<string>MaErTa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0060</string>
			<key>name</key>
			<string>马来西亚</string>
			<key>pinyin</key>
			<string>MaLaiXiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00265</string>
			<key>name</key>
			<string>马拉维</string>
			<key>pinyin</key>
			<string>MaLaWei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00223</string>
			<key>name</key>
			<string>马里</string>
			<key>pinyin</key>
			<string>MaLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001670</string>
			<key>name</key>
			<string>马里亚纳群岛</string>
			<key>pinyin</key>
			<string>MaLiYaNaQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00230</string>
			<key>name</key>
			<string>毛里求斯</string>
			<key>pinyin</key>
			<string>MaoLiQiuSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00222</string>
			<key>name</key>
			<string>毛里塔尼亚</string>
			<key>pinyin</key>
			<string>MaoLiTaNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00389</string>
			<key>name</key>
			<string>马其顿</string>
			<key>pinyin</key>
			<string>MaQiDun</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00692</string>
			<key>name</key>
			<string>马绍尔群岛</string>
			<key>pinyin</key>
			<string>MaShaoErQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00596</string>
			<key>name</key>
			<string>马提尼克</string>
			<key>pinyin</key>
			<string>MaTiNiKe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00269</string>
			<key>name</key>
			<string>马约特岛</string>
			<key>pinyin</key>
			<string>MaYueTeDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>name</key>
			<string>美国</string>
			<key>pinyin</key>
			<string>MeiGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00976</string>
			<key>name</key>
			<string>蒙古</string>
			<key>pinyin</key>
			<string>MengGu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00880</string>
			<key>name</key>
			<string>孟加拉国</string>
			<key>pinyin</key>
			<string>MengJiaLaGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001664</string>
			<key>name</key>
			<string>蒙特塞拉特岛</string>
			<key>pinyin</key>
			<string>MengTeSaiLaTeDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0095</string>
			<key>name</key>
			<string>缅甸</string>
			<key>pinyin</key>
			<string>MianDian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00691</string>
			<key>name</key>
			<string>密克罗尼西亚</string>
			<key>pinyin</key>
			<string>MiKeLuoNiXiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0051</string>
			<key>name</key>
			<string>秘鲁</string>
			<key>pinyin</key>
			<string>MiLu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00373</string>
			<key>name</key>
			<string>摩尔多瓦</string>
			<key>pinyin</key>
			<string>MoErDuoWa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00212</string>
			<key>name</key>
			<string>摩洛哥</string>
			<key>pinyin</key>
			<string>MoLuoGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00377</string>
			<key>name</key>
			<string>摩纳哥</string>
			<key>pinyin</key>
			<string>MoNaGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00258</string>
			<key>name</key>
			<string>莫桑比克</string>
			<key>pinyin</key>
			<string>MoSangBiKe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0052</string>
			<key>name</key>
			<string>墨西哥</string>
			<key>pinyin</key>
			<string>MoXiGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00264</string>
			<key>name</key>
			<string>纳米比亚</string>
			<key>pinyin</key>
			<string>NaMiBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0027</string>
			<key>name</key>
			<string>南非</string>
			<key>pinyin</key>
			<string>NanFei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00381</string>
			<key>name</key>
			<string>南斯拉夫</string>
			<key>pinyin</key>
			<string>NanSiLaFu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00674</string>
			<key>name</key>
			<string>瑙鲁</string>
			<key>pinyin</key>
			<string>NaoLu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00977</string>
			<key>name</key>
			<string>尼泊尔</string>
			<key>pinyin</key>
			<string>NiBoEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00505</string>
			<key>name</key>
			<string>尼加拉瓜</string>
			<key>pinyin</key>
			<string>NiJiaLaGua</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00227</string>
			<key>name</key>
			<string>尼日尔</string>
			<key>pinyin</key>
			<string>NiRiEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00234</string>
			<key>name</key>
			<string>尼日利亚</string>
			<key>pinyin</key>
			<string>NiRiLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00683</string>
			<key>name</key>
			<string>纽埃岛</string>
			<key>pinyin</key>
			<string>NiuAiDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00672</string>
			<key>name</key>
			<string>诺福克岛</string>
			<key>pinyin</key>
			<string>NuoFuKeDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0047</string>
			<key>name</key>
			<string>挪威</string>
			<key>pinyin</key>
			<string>NuoWei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00680</string>
			<key>name</key>
			<string>帕劳</string>
			<key>pinyin</key>
			<string>PaLao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00239</string>
			<key>name</key>
			<string>普林西比</string>
			<key>pinyin</key>
			<string>PuLinXiBi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00351</string>
			<key>name</key>
			<string>葡萄牙</string>
			<key>pinyin</key>
			<string>PuTaoYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0081</string>
			<key>name</key>
			<string>日本</string>
			<key>pinyin</key>
			<string>RiBen</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0046</string>
			<key>name</key>
			<string>瑞典</string>
			<key>pinyin</key>
			<string>RuiDian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0041</string>
			<key>name</key>
			<string>瑞士</string>
			<key>pinyin</key>
			<string>RuiShi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00503</string>
			<key>name</key>
			<string>萨尔瓦多</string>
			<key>pinyin</key>
			<string>SaErWaDuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00232</string>
			<key>name</key>
			<string>塞拉利昂</string>
			<key>pinyin</key>
			<string>SaiLaLiAng</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00221</string>
			<key>name</key>
			<string>塞内加尔</string>
			<key>pinyin</key>
			<string>SaiNaJiaEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00357</string>
			<key>name</key>
			<string>塞浦路斯</string>
			<key>pinyin</key>
			<string>SaiPuLuSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00248</string>
			<key>name</key>
			<string>塞舌尔</string>
			<key>pinyin</key>
			<string>SaiSheEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00259</string>
			<key>name</key>
			<string>桑给巴尔</string>
			<key>pinyin</key>
			<string>SangGeiBaEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00966</string>
			<key>name</key>
			<string>沙特阿拉伯</string>
			<key>pinyin</key>
			<string>ShaTeALaBo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00619164</string>
			<key>name</key>
			<string>圣诞岛</string>
			<key>pinyin</key>
			<string>ShengDanDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00239</string>
			<key>name</key>
			<string>圣多美</string>
			<key>pinyin</key>
			<string>ShengDuoMei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00290</string>
			<key>name</key>
			<string>圣赫勒拿</string>
			<key>pinyin</key>
			<string>ShengHeLeNa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001869</string>
			<key>name</key>
			<string>圣克里斯托弗和尼维斯</string>
			<key>pinyin</key>
			<string>ShengKeLiSiTuoFuHeNiWeiSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001758</string>
			<key>name</key>
			<string>圣卢西亚</string>
			<key>pinyin</key>
			<string>ShengLuXiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00378</string>
			<key>name</key>
			<string>圣马力诺</string>
			<key>pinyin</key>
			<string>ShengMaLiNuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00508</string>
			<key>name</key>
			<string>圣皮埃尔岛密克隆岛（法）</string>
			<key>pinyin</key>
			<string>ShengPiAiErDaoMiKeLongDaoFa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001784</string>
			<key>name</key>
			<string>圣文森特岛（英）</string>
			<key>pinyin</key>
			<string>ShengWenSenTeDaoYing</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0094</string>
			<key>name</key>
			<string>斯里兰卡</string>
			<key>pinyin</key>
			<string>SiLiLanKa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00421</string>
			<key>name</key>
			<string>斯洛伐克</string>
			<key>pinyin</key>
			<string>SiLuoFaKe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00386</string>
			<key>name</key>
			<string>斯洛文尼亚</string>
			<key>pinyin</key>
			<string>SiLuoWenNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00268</string>
			<key>name</key>
			<string>斯威士兰</string>
			<key>pinyin</key>
			<string>SiWeiShiLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00249</string>
			<key>name</key>
			<string>苏丹</string>
			<key>pinyin</key>
			<string>SuDan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00597</string>
			<key>name</key>
			<string>苏里南</string>
			<key>pinyin</key>
			<string>SuLiNan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00677</string>
			<key>name</key>
			<string>所罗门群岛</string>
			<key>pinyin</key>
			<string>SuoLuoMenQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00252</string>
			<key>name</key>
			<string>索马里</string>
			<key>pinyin</key>
			<string>SuoMaLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0066</string>
			<key>name</key>
			<string>泰国</string>
			<key>pinyin</key>
			<string>TaiGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00886</string>
			<key>name</key>
			<string>台湾</string>
			<key>pinyin</key>
			<string>TaiWan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00992</string>
			<key>name</key>
			<string>塔吉克斯坦共和国</string>
			<key>pinyin</key>
			<string>TaJiKeSiTanGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00676</string>
			<key>name</key>
			<string>汤加</string>
			<key>pinyin</key>
			<string>TangJia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00255</string>
			<key>name</key>
			<string>坦桑尼亚</string>
			<key>pinyin</key>
			<string>TanSangNiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001649</string>
			<key>name</key>
			<string>特克斯和凯科斯群岛</string>
			<key>pinyin</key>
			<string>TeKeSiHeKaiKeSiQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001868</string>
			<key>name</key>
			<string>特立尼达和多巴哥</string>
			<key>pinyin</key>
			<string>TeLiNiDaHeDuoBaGe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0090</string>
			<key>name</key>
			<string>土耳其</string>
			<key>pinyin</key>
			<string>TuErQi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00993</string>
			<key>name</key>
			<string>土库曼斯坦共和国</string>
			<key>pinyin</key>
			<string>TuKuManSiTanGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00216</string>
			<key>name</key>
			<string>突尼斯</string>
			<key>pinyin</key>
			<string>TuNiSi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00690</string>
			<key>name</key>
			<string>托克鲁</string>
			<key>pinyin</key>
			<string>TuoKeLu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00688</string>
			<key>name</key>
			<string>图瓦卢</string>
			<key>pinyin</key>
			<string>TuWaLu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001681</string>
			<key>name</key>
			<string>瓦里斯和富士那群岛</string>
			<key>pinyin</key>
			<string>WaLiSiHeFuShiNaQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00678</string>
			<key>name</key>
			<string>瓦努阿图</string>
			<key>pinyin</key>
			<string>WaNuATu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00502</string>
			<key>name</key>
			<string>危地马拉</string>
			<key>pinyin</key>
			<string>WeiDiMaLa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001340</string>
			<key>name</key>
			<string>维尔京群岛</string>
			<key>pinyin</key>
			<string>WeiErJingQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001808</string>
			<key>name</key>
			<string>威克岛</string>
			<key>pinyin</key>
			<string>WeiKeDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0058</string>
			<key>name</key>
			<string>委内瑞拉</string>
			<key>pinyin</key>
			<string>WeiNaRuiLa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00673</string>
			<key>name</key>
			<string>文莱</string>
			<key>pinyin</key>
			<string>WenLai</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00256</string>
			<key>name</key>
			<string>乌干达</string>
			<key>pinyin</key>
			<string>WuGanDa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00380</string>
			<key>name</key>
			<string>乌克兰</string>
			<key>pinyin</key>
			<string>WuKeLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00598</string>
			<key>name</key>
			<string>乌拉圭</string>
			<key>pinyin</key>
			<string>WuLaGui</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00998</string>
			<key>name</key>
			<string>乌兹别克斯坦共和国</string>
			<key>pinyin</key>
			<string>WuZiBieKeSiTanGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00852</string>
			<key>name</key>
			<string>香港</string>
			<key>pinyin</key>
			<string>XiangGang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001808</string>
			<key>name</key>
			<string>夏威夷</string>
			<key>pinyin</key>
			<string>XiaWeiYi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0034</string>
			<key>name</key>
			<string>西班牙</string>
			<key>pinyin</key>
			<string>XiBanYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0030</string>
			<key>name</key>
			<string>希腊</string>
			<key>pinyin</key>
			<string>XiLa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0065</string>
			<key>name</key>
			<string>新加坡</string>
			<key>pinyin</key>
			<string>XinJiaPo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00687</string>
			<key>name</key>
			<string>新咯里多尼亚群岛</string>
			<key>pinyin</key>
			<string>XinKeLiDuoNiYaQunDao</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0064</string>
			<key>name</key>
			<string>新西兰</string>
			<key>pinyin</key>
			<string>XinXiLan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0036</string>
			<key>name</key>
			<string>匈牙利</string>
			<key>pinyin</key>
			<string>XiongYaLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00685</string>
			<key>name</key>
			<string>西萨摩亚</string>
			<key>pinyin</key>
			<string>XiSaMoYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00963</string>
			<key>name</key>
			<string>叙利亚</string>
			<key>pinyin</key>
			<string>XuLiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001876</string>
			<key>name</key>
			<string>牙买加</string>
			<key>pinyin</key>
			<string>YaMaiJia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00374</string>
			<key>name</key>
			<string>亚美尼亚共和国</string>
			<key>pinyin</key>
			<string>YaMeiNiYaGongHeGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00967</string>
			<key>name</key>
			<string>也门</string>
			<key>pinyin</key>
			<string>YeMen</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0039</string>
			<key>name</key>
			<string>意大利</string>
			<key>pinyin</key>
			<string>YiDaLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00964</string>
			<key>name</key>
			<string>伊拉克</string>
			<key>pinyin</key>
			<string>YiLaKe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0098</string>
			<key>name</key>
			<string>伊朗</string>
			<key>pinyin</key>
			<string>YiLang</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0091</string>
			<key>name</key>
			<string>印度</string>
			<key>pinyin</key>
			<string>YinDu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0062</string>
			<key>name</key>
			<string>印度尼西亚</string>
			<key>pinyin</key>
			<string>YinDuNiXiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0044</string>
			<key>name</key>
			<string>英国</string>
			<key>pinyin</key>
			<string>YingGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00972</string>
			<key>name</key>
			<string>以色列</string>
			<key>pinyin</key>
			<string>YiSeLie</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00962</string>
			<key>name</key>
			<string>约旦</string>
			<key>pinyin</key>
			<string>YueDan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0084</string>
			<key>name</key>
			<string>越南</string>
			<key>pinyin</key>
			<string>YueNan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00260</string>
			<key>name</key>
			<string>赞比亚</string>
			<key>pinyin</key>
			<string>ZanBiYa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00235</string>
			<key>name</key>
			<string>乍得</string>
			<key>pinyin</key>
			<string>ZhaDe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00243</string>
			<key>name</key>
			<string>扎伊尔</string>
			<key>pinyin</key>
			<string>ZhaYiEr</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00350</string>
			<key>name</key>
			<string>直布罗陀</string>
			<key>pinyin</key>
			<string>ZhiBuLuoTuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0056</string>
			<key>name</key>
			<string>智利</string>
			<key>pinyin</key>
			<string>ZhiLi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00236</string>
			<key>name</key>
			<string>中非</string>
			<key>pinyin</key>
			<string>ZhongFei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0086</string>
			<key>name</key>
			<string>中国</string>
			<key>pinyin</key>
			<string>ZhongGuo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001808</string>
			<key>name</key>
			<string>中途岛</string>
			<key>pinyin</key>
			<string>ZhongTuDao</string>
		</dict>
	</array>
	<key>info</key>
	<string></string>
	<key>ra_referer</key>
	<string></string>
	<key>status</key>
	<integer>1</integer>
	<key>times</key>
	<integer>0</integer>
</dict>
</plist>
